:root {
  --text: #4b4f54;
  --dropdown: #adaeae;
  --my-background-color: #fcf5e5;
  --my-background-color-hex: rgb(255, 245, 229, 0.7);
  --proportion-top-dropdown: 0.63;
  --dropdown-fontsize: 1rem;
  --description-fontsize: var(--dropdown-fontsize);
  --title-fontsize: calc(var(--description-fontsize) * 1.618 * 1.618 * 1.618);
  --margin: 1rem;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "PT-Sans";
  background-color: var(--my-background-color);
  /* overflow: hidden; Consider removing or adjusting if you want to allow scrolling */
}

/* OVERALL CONTAINER FOR D3 + TEXT*/
.application {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

/* CONTAINS D3 VISUALIZATION*/
.d3-container {
  position: relative;
  z-index: 1;
}

/* CONTAINS TITLE AND DESCRIPTION AND DROPDOWN */
.right-container {
  margin-top: var(--margin);
  margin-right: calc(var(--margin) * 1.618 * 1.618);
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

/* CONTAINS DESCRIPTION AND DROPDOWN */
.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: var(--title-fontsize);
  color: var(--text);
  font-weight: 400;
  font-family: "Bodoni-Moda";
  margin-left: auto;
}

.description {
  color: var(--text);
  font-family: "Bodoni-Moda";
  font-size: var(--description-fontsize);
}

.dropdown {
  margin-left: auto;
  font-family: "Bodoni-Moda";
  font-weight: 500;
  color: var(--text);
  border-color: var(--text);
  border-width: 1.5px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 5px;
  cursor: pointer;
  width: 20%;
  margin-top: calc(var(--margin) * 1.618 * 1.618 * 1.618 * 1.618);
  align-items: flex-end;
  font-size: var(--dropdown-fontsize);
  background-color: transparent;
}

/* CONTAINS COLOR DESCRIPTION AND IMAGE*/
.color-specific {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.left-container {
  background: var(--my-background-color-hex);
  color: var(--text);
  transition: opacity 750ms;
  opacity: 1;
  position: absolute;
  bottom: calc(var(--margin) * 2);
  left: calc(var(--margin) * 2);
  z-index: 10;
  width: auto;
  box-sizing: border-box;
  font-family: "Bodoni-Moda";
  width: 33.3%;
}
.image-container {
  position: absolute;
  bottom: calc(var(--margin) * 2);
  left: calc(var(--margin) * 2);
  left: 0;
  z-index: 9;
  width: 33.3%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 750ms;
  opacity: 1;
}

.left-container.fade-out,
.image-container img.fade-out {
  opacity: 0;
}

.text-italics {
  font-family: "Bodoni-Moda-Italics";
}

@font-face {
  font-family: "Bodoni-Moda";
  src: url("./assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Bodoni-Moda-Italics";
  src: url("./assets/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "PT-Sans";
  src: url("./assets/fonts/PT_Sans/PTSans-Regular.ttf");
}

/* Fade-out animation */
.fade-out {
  animation: fadeOut 0.5s;
  opacity: 0;
  visibility: hidden;
}

/* Fade-in animation */
.fade-in {
  animation: fadeIn 0.5s;
  opacity: 1;
  visibility: visible;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
